:root {
  /* ## Colors
### Theme 1
#### Backgrounds
- Navy 850 (main background): hsl(222, 26%, 31%)
- Navy 900 (toggle background, keypad background): hsl(223, 31%, 20%)
- Navy 950 (screen background): hsl(224, 36%, 15%)
#### Keys
- Navy 700 (key background): hsl(225, 21%, 49%)
- Navy 800 (key shadow): hsl(224, 28%, 35%)
- Red 600 (key background, toggle): hsl(6, 63%, 50%)
- Red 800 (key shadow): hsl(6, 70%, 34%)
- Gray 200 (key background): hsl(0, 0%, 90%)
- Gray orange 400 (key shadow): hsl(28, 16%, 65%)
#### Text
- Navy 750: hsl(221, 14%, 31%)
- White: hsl(0, 100%, 100%)
### Theme 2
#### Backgrounds
- Gray 200 (main background): hsl(0, 0%, 90%)
- Gray 300 (toggle background, keypad background): hsl(0, 5%, 81%)
- Gray 100 (screen background): hsl(0, 0%, 93%)
#### Keys
- Bue 500 (key background): hsl(185, 42%, 37%)
- Blue 600 (key shadow): hsl(185, 58%, 25%)
- Orange 700 (key background, toggle): hsl(25, 98%, 40%)
- Orange 800 (key shadow): hsl(25, 99%, 27%)
- Grey 200 (key background): hsl(0, 0%, 90%)
- Grey orange 450 (key shadow): hsl(35, 11%, 61%)
#### Text
- Gray 900: hsl(60, 10%, 19%)
- White (text): hsl(0, 100%, 100%)
### Theme 3
#### Backgrounds
- Purple 950 (main background): hsl(268, 75%, 9%)
- Purple 900 (toggle background, keypad background, screen background): hsl(268, 71%, 12%)
#### Keys
- Purple 800 (key background): hsl(281, 89%, 26%)
- Purple 400 (key shadow): hsl(285, 91%, 52%)
- Cyan 500 (key background, toggle): hsl(176, 100%, 44%)
- Cyan 400 (key shadow): hsl(177, 92%, 70%)
- Purple 850 (key background): hsl(268, 47%, 21%)
- Purple 750 (key shadow): hsl(290, 70%, 36%)
#### Text
- Yellow 300: hsl(52, 100%, 62%)
- Blue 950: hsl(198, 20%, 13%)
- White (text): hsl(0, 100%, 100%) */
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.5;
}

/* Remove default margins */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

button {
  cursor: pointer;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: hsl(222, 26%, 31%);
}

.main-container {
  width: 100%;
  max-width: 572px;
  margin: 0 auto;
  padding-block: 2rem;
  padding-inline: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.theme-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.theme-number-container {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-right: 4px;
}

.theme-number {
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
}

.theme-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  padding-top: 4px;
}

.switch {
  position: relative;
}

.switch-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.switch-input:focus-visible + .switch-label::before {
  outline: 2px solid cyan;
  outline-offset: 2px;
}

.switch-label {
  display: block;
  width: 36px;
  height: 20px;
  text-indent: -9999px;
  cursor: pointer;
}

.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: indigo;
  border-radius: 9999px;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.switch-label::after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background-color: hsl(200, 60%, 99%);
  box-shadow:
    0px 1px 3px rgba(10, 13, 18, 0.3),
    0px 1px 2px -1px rgba(10, 13, 18, 0.3);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.switch-input:checked + .switch-label::before {
  background-color: magenta;
}

.switch-input:checked + .switch-label::after {
  left: 18px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 32px;
  gap: 8px;
  background: #181f33;
  border-radius: 10px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: right;
  letter-spacing: -0.7px;
  color: #ffffff;
}

.keypad-container {
  padding: 16px;
  background: #242d44;
  border-radius: 10px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.key:nth-last-child(-n + 2) {
  grid-column: span 2;
}

.key {
  padding-block: 0.25em;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.5px;
  line-height: 1;
  text-align: center;
  color: #434a59;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  background: #e6e6e6;
  box-shadow: inset 0px -4px 0px #b3a497;
  border-radius: 5px;
}

.delete,
.reset {
  font-size: 20px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #ffffff;
  background: #647198;
  box-shadow: inset 0px -4px 0px #414e73;
  border-radius: 5px;
  padding-block: 0.69em;
}

.equals {
  background: #d03f2f;
  box-shadow: inset 0px -4px 0px #93261a;
  font-size: 20px;
  letter-spacing: -0.3px;
  color: #ffffff;
  padding-block: 0.69em;
}

@media (min-width: 600px) {
  .result {
    padding-block: 40px 32px;
    font-size: 56px;
  }

  .keypad-container {
    padding: 32px;
    gap: 24px;
  }

  .key {
    font-size: 40px;
    letter-spacing: -0.7px;
    border-radius: 10px;
    padding-block: 0.3em;
  }

  .reset,
  .delete,
  .equals {
    font-size: 28px;
    letter-spacing: -0.5px;
  }

  .reset,
  .equals {
    padding-block: 0.64em;
  }
}
